
/* SMALL TO MEDIUM MOBILES */
@media only screen and (max-width: 992px) {
    section > .wrapper > form {
        grid-template-columns: 1fr;
    }

    .form-wrapper {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    #removeCoupon, #removeUsername, #removeGiftedUsername, #removeEmail {
        left: 20px;
    }
}

/* LARGE DEVICES */
@media only screen and (min-width: 992px) {
    section > .wrapper > form {
        grid-template-columns: 1fr 0fr 1fr;
    }
}